.Travel {
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10rem;
    justify-content: space-between;
    margin: auto;
    padding-top: 3.5rem;
    width: 1100px;
}
.Travel h3 {
    font-size: var(--H3);
    font-weight: normal;
    margin-bottom: 2rem;
    text-transform: uppercase;
    word-spacing: 10px;
}
.Travel nav {
    margin-top: 6rem;
}
.TravelLink {
    color: white;
    letter-spacing: 2px;
    list-style-type: none;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
}
.TravelLink:hover {
    border-bottom: 1px solid white;
}
.Travel h2 {
    font-family: 'Playfair Display', serif;
    font-size: var(--H2);
    font-weight: normal;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.Travel p {
    font-size: var(--Paragraph);
    width: 390px;
}
.Travel span {
    color: rgba(128, 128, 128, 0.3);
    font-weight: bold;
}
.Line {
    background-color: rgba(211, 207, 207, 0.3);
    content: "";
    height: 0.5px;
    margin-top: 2rem;
    width: 450px;
}
.TimeandDistance {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    margin-top: 2rem;
}
.TimeandDistance h5 {
    font-size: var(--H5);
    font-weight: normal;
    text-transform: uppercase;
}
.TimeandDistance h4 {
    font-size: var(--H4);
    font-weight: normal;
    margin-top: 0.2rem;
    text-transform: uppercase;
}