@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {

  /* COLORS */

  /* FONT-SIZES */

  --H1: 150px;
  --H2: 100px;
  --H3: 40px;
  --H4: 30px;
  --H5: 15px;
  --Paragraph: 20px;
}
body {
  font-family: 'Instrument Serif', serif;
}