.Error {
    background-image: url(../../Images/Home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 810px;
    width: 1440px;
}
.Error h3 {
    color: white;
    font-size: var(--H3);
    margin-top: 5rem;
}